
.font-1{
    font-family: 'Raleway', sans-serif;
}

.font-2{
    font-family: 'Titillium Web', sans-serif;
}
.font-3{
    font-family: 'Nunito', sans-serif;
}
.hoverme:hover{
   border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

