{%extends 'base.html'%}
{%block title%}all - ideas{%endblock%}
{%block content%}
<!-- 
    posts all posts content
    post[2] profile img
    post[1] profile name
    post[3] the post_id 
    post[4] post title
    post[5] post content
    post[6] post img
    post[7] likes number
 -->

 <!-- 
     detecting if the user liked the post or not to change the color of the like btn
     if post[3] in liked_posts

  -->
    {%if posts%}
    <h2><span class="badge bg-dark">All Ideas
            <svg style="color: #ffc107;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                <path
                    d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z" />
            </svg>
        </span></h2>

        {%for post in posts%}
        <div class="mt-4"></div>
            <div class="row">
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="card">
                        <div class="post-header">
                            <div class="profile-post-img">
                                <img class="circle-img" src="{{url_for('static',filename=post[2])}}" alt="blue profile picture">
                            </div>
                            <div class="profile-post-data ">
                                <h1 style="font-size: 15px;" class="font-1 m-0">{{post[1]}}</h1>
                            </div>
            
                        </div>
                        <div class="card-body">
                            <!--TDOD the post id is post[0] -->
                            <a href="{{url_for('idea',post_id=post[3])}}">
                            <h5 class="card-title font-1">{{post[4]}}</h5>
                            </a>
                            <p class="card-text font-1">{{post[5]}}</p>
                        </div>
                        <img src="{{url_for('static',filename=post[6])}}" class="card-img-bottom" alt="post image">
                        <div class="like-comment mt-3 ">
                            <div class="comments-number m-0 p-0">23</div>
                            <a href="{{url_for('idea',post_id=post[3])}}#comment-data">
                                <i class="bi bi-chat-right-dots cursor-p fs-4"></i>
                            </a>
                            
                            <div class="mx-2"></div>
                            <div class="likes-number m-0 p-0 ">212</div>
                            <i style="color: #ff0055;" class="bi bi-heart-fill cursor-p fs-4"></i>
                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}
    {%else%}
    <h2 class="font-1">there is no Ideas yet!</h2>
    {%endif%}


<script>
    let all_ideas = document.getElementById("all_ideas");
    all_ideas.classList.add("active");
        let l = document.getElementsByClassName("like-btn");
       for(let i = 0; i < l.length ; i++){
           l[i].addEventListener("click",e=>{
               let likes_number = document.getElementById("likes-number-" + l[i].id);
               fetch("http://127.0.0.1:5000/add_like/" + l[i].id, {
                   method: "POST",
               })
                   .then(res => res.json())
                   .then(data => {
                       if(data.done){
                           document.getElementById("likes-number-" + l[i].id).style = "background-color: rgba(255, 0, 115, 0.734);"
                           document.getElementById("likes-number-" + l[i].id).innerText = data.like;
                       }
                       else{
                           document.getElementById("likes-number-" + l[i].id).style = "background-color: rgba(0, 0, 0, 0.734);"
                        document.getElementById("likes-number-" + l[i].id).innerText = data.like;
                       }
                       
                   })
           })
       }
        function do_like(post_id){
            
        }

</script>

{%endblock%}