{%extends 'base.html'%}
{%block title%}all - ideas{%endblock%}
{%block content%}
<div class="container">
    {%if posts%}
    <h2><span class="badge bg-dark">All Ideas
            <svg style="color: #ffc107;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                <path
                    d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z" />
            </svg>
        </span></h2>
    <div class="my-2 ">
        {%for post in posts%}
        <div class="card  w-75 mt-4">
            <!-- test -->
            <a href="" >
            <div class="container-fluid ">
                <div class="row pb-1">
                    <div class="col-1 m-0 p-0 ">
                        <img style="clip-path: circle();" src="{{url_for('static',filename=post[2])}}"
                            class="img-fluid rounded-start mt-2" alt="...">
                    </div>
                    <div class="col m-0 p-0 ">
                        <h5 style="background: linear-gradient(45deg, rgb(255, 0, 106), rgb(0, 170, 255));" class="font-1 fs-6 card-title badge mt-3 ">{{post[1]}}</h5>
                    </div>
                </div>
            </div>
            </a>
            <!-- end test -->

            <div class="card-body">
                <a class="btn btn-outline-info border-0" href="{{url_for('idea',post_id=post[3])}}">
                    <h5 class="card-title font-1">{{post[4]}}</h5>
                </a>
                <p class="card-text">{{post[5]}}</p>
            </div>
            <img src="{{url_for('static',filename=post[6])}}" class="card-img-bottom" alt="...">
            <div class="container text-center m-1">

                    <button  id="{{post[3]}}"  class="btn p-0 fs-2 position-relative like-btn">
                        🔥
                        <span id="likes-number-{{post[3]}}" style="background-color: rgba(255, 0, 115, 0.734);"
                            class="position-absolute font-1 top-0 start-75 translate-middle badge rounded-pill fs-6">
                            {{post[7]}}
                        </span>
                    </button>
            </div>
        </div>
        {%endfor%}
    </div>
    {%else%}
    <h2 class="font-1">there is no Ideas yet!</h2>
    {%endif%}
</div>

<script>
    let all_ideas = document.getElementById("all_ideas");
    all_ideas.classList.add("active");
        let l = document.getElementsByClassName("like-btn");
       for(let i = 0; i < l.length ; i++){
           l[i].addEventListener("click",e=>{
               let likes_number = document.getElementById("likes-number-" + l[i].id);
               fetch("http://127.0.0.1:5000/add_like/" + l[i].id, {
                   method: "POST",
               })
                   .then(res => res.json())
                   .then(data => {
                       document.getElementById("likes-number-" + l[i].id).innerText = data.like;
                   })
           })
       }
        function do_like(post_id){
            
        }

</script>

{%endblock%}