<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- my stylesheet -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <div class="sp-container">

    
<!-- new nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {%if session['user']%}
        <a id="the_brand" class="font-1 navbar-brand btn btn-outline-warning border-0" href="{{url_for('ideas')}}">{{session['user'][1]}}'s ideas
                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightbulb-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z" />
                </svg>
        </a>
        
        {%else%}
        <a class="navbar-brand font-1" href="{{url_for('home')}}">Idea
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightbulb-fill text-warning"
                viewBox="0 0 16 16">
                <path
                    d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z" />
            </svg>
        </a>
        {%endif%}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!--navbar when the user login  -->
                    {%if session['user']%}
                    <li class="nav-item">
                    <a class="nav-link  font-1" aria-current="page"  href="{{url_for('profile')}}" id="home2">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link  font-1" id="add_idea" aria-current="page" href="{{url_for('post')}}">+Add Idea</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  font-1" id="all_ideas" aria-current="page" href="{{url_for('all_ideas')}}">All Ideas</a>
                    </li>
                    <!-- navbar when the user not login -->
                    {%else%}
                    <li class="nav-item">
                        <a class="nav-link  font-1" aria-current="page" href="{{url_for('home')}}">
                        Home
                    </a>
                    </li>
                    
                    {%endif%}
                </li>
            </ul>

            <form class="d-flex">
                {%if session['user']%}
                <a class="btn btn-danger font-1" aria-current="page" href="{{url_for('logout')}}">Logout</a>
                {%else%}
                <a class="btn btn-info mx-2 font-1" aria-current="page" href="{{url_for('login')}}">Login</a>
                <a class="btn btn-outline-info mx-2 font-1" aria-current="page" href="{{url_for('signup')}}">Sign up</a>
                {%endif%}
            </form>
        </div>
    </div>
</nav>
    {%block content%}{%endblock%}
    </div>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>