{%extends 'base.html'%}
{%block title%}idea{%endblock%}
{%block content%}
<!-- 
    post[2] profile img
    post[1] username
    post[4] title post
    post[5] post content
    post[6] post img
    likes_number :)
    liked : a bool data detect if u liked the post or not to change the color of like btn
    comment[5] commenter img
    comment[4] commentar name
    comment[1] commentar text
    post_comments the data of comments
-->
    <div class="my-2 ">             
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="post-header">
                        <div class="profile-post-img">
                            <img class="circle-img" src="{{url_for('static',filename=post[2])}}" alt="profile picture">
                        </div>
                        <div class="profile-post-data ">
                            <h1 style="font-size: 15px;" class="font-1 m-0">{{post[1]}}</h1>
                        </div>
        
                    </div>
                    <div class="card-body">
                        <!--TDOD the post id is post[0] -->
                        <h5 class="card-title font-1">{{post[4]}}</h5>
                        <p class="card-text font-1">{{post[5]}}</p>
                    </div>
                    <img src="{{url_for('static',filename=post[6])}}" class="card-img-bottom" alt="...">
                    <div class="comments">
                        <div class="comment-form">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                class="bi bi-telegram btn p-0 mx-1 text-primary" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z" />
                            </svg>
        
                            <textarea class="form-control font-1 " placeholder="write comment..."></textarea>
                        </div>
                        {%if post_comments%}
                        {%for comment in post_comments%}
                        <div class="comment-data">
                            <div class="comment line pt-2">
                                <div class="comment-img">
                                    <img class="circle-img" src="{{url_for('static',filename=comment[5])}}">
                                </div>
                                <div class="comment-body">
                                    <div class="comment-name text-secondary font-1">{{comment[4]}}</div>
                                    <div class="comment-text font-1">{{comment[1]}}</div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    function post_comment(data){
        fetch("{{url_for('add_comment',post_id = post[0])}}",{
            method:"POST",
            headers: {
                'Content-Type':'application/json'
            },
            body:JSON.stringify(data) 
        })
        .then(res => res.json())
        .then(final_res => {
            let li = document.createElement('li');
            li.classList.add("list-group-item", "m-0", "p-0");
            let div1 = document.createElement('div');
            div1.classList.add("container");
            let div2 = document.createElement('div');
            div2.classList.add("row", "m-0", "p-0");
            let div3 = document.createElement('div');
            div3.classList.add("col-2", "m-0", "p-0");
            let a = document.createElement('a');
            a.style= "text-decoration: none;";
            a.classList.add("d-flex");
            let img = document.createElement('div');
            img.style = "background-image: url(http://127.0.0.1:5000/static/" + final_res.img+")";
            img.classList.add("imgy", "commenty", "mt-1", "p-0");

            let h5 = document.createElement('h5');
            h5.style.background = "linear-gradient(45deg, rgb(255, 0, 106), rgb(238, 0, 255))";
            h5.classList.add("font-1" , "fs-6" , "mx-3" , "badge" , "mt-3");
                                
            let div4 = document.createElement('div');
            div4.classList.add("col","pt-5", "font-1", "m-0", "p-0");

            li.appendChild(div1)
            div1.appendChild(div2);
            div2.appendChild(div3);
            div2.appendChild(div4);
            div3.appendChild(a);
            a.appendChild(img);
            a.appendChild(h5);

            h5.innerText = final_res.name;
            div4.innerText = final_res.comment
            list_of_comments.insertBefore(li, list_of_comments.firstChild);
        })
    };
    
    
    let add_comment = document.getElementById("add_comment");
    add_comment.onclick = function(){
        // adding comment value here so it takes the last thing u wrote in textarea
        // if we didnt put it right here it could be empty string 
        let comment = document.getElementById("comment").value;
        if(comment == ""){
            return;
        }
        post_comment({the_comment:comment});
        document.getElementById("comment").value = "";
    }


    let like_btn = document.getElementById("like_btn");
    let likes_number = document.getElementById("likes_number");
  
    like_btn.addEventListener("click",()=>{
        fetch("{{url_for('add_like',post_id= post[0])}}",{
            method:"POST",
        })
        .then(res=>res.json())
        .then(data=>{
            if(data.done){
                likes_number.style.background = "rgb(255, 0, 115)";
            }
            else{
                likes_number.style.background = "black";
            }
            document.getElementById("likes_number").innerText = data.like;
        })

    })


</script>
{%endblock%}