{%extends 'base.html'%}
{%block title%}idea{%endblock%}
{%block content%}
<!-- 
    post[3] post_id
    post[2] profile img
    post[1] username
    post[4] title post
    post[5] post content
    post[6] post img
    likes_number :)
    liked : a bool data detect if u liked the post or not to change the color of like btn
    comment[5] commenter img
    comment[4] commentar name
    comment[1] commentar text
    post_comments the data of comments
-->
           
<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
            <div class="post-header">
                <div class="profile-post-img">
                    <img class="circle-img" src="{{url_for('static',filename=post[2])}}" alt="profile picture">
                </div>
                <div class="profile-post-data ">
                    <h1 style="font-size: 15px;" class="font-1 m-0">{{post[1]}}</h1>
                </div>

            </div>
            <div class="card-body">
                <!--TDOD the post id is post[0] -->
                <h5 class="card-title font-1">{{post[4]}}</h5>
                <p class="card-text font-1">{{post[5]}}</p>
            </div>
            <img src="{{url_for('static',filename=post[6])}}" class="card-img-bottom" alt="...">
            <div class="like-comment mt-3 ">
                <div class="comments-number m-0 p-0">23</div>
                <i class="bi bi-chat-right-dots cursor-p fs-4"></i>
                <div class="mx-2"></div>
                <div id="likes_number" class="likes-number m-0 p-0 ">{{likes_number}}</div>
                {%if liked%}
                    <i id="like_btn" style="color: #ff0055;" class="bi bi-heart-fill cursor-p fs-4"></i>
                
                
                {%else%}
                    <i id="like_btn" class="bi bi-heart-fill cursor-p fs-4"></i>
                {%endif%}
            </div>
            <div id="comments" class="comments">
                <div class="comment-form">
                    <i id="add_comment" class="bi bi-telegram btn p-0 mx-1 border-0 text-primary fs-3 font-2"></i>
                    <textarea id="comment" class="form-control font-1 " placeholder="write comment..."></textarea>
                </div>
                <div id="comment-data" class="comment-data">
                {%if post_comments%}
                {%for comment in post_comments%}
                
                    <div class="comment line pt-2">
                        <div class="comment-img">
                            <img class="circle-img" src="{{url_for('static',filename=comment[2])}}">
                        </div>
                        <div class="comment-body">
                            <div class="comment-name text-secondary font-1">{{comment[1]}}</div>
                            <div class="comment-text font-1">{{comment[0]}}</div>
                        </div>
                    </div>
                
                {%endfor%}
                {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function post_comment(data){
        fetch("{{url_for('add_comment',post_id = post[3])}}",{
            method:"POST",
            headers: {
                'Content-Type':'application/json'
            },
            body:JSON.stringify(data) 
        })
        .then(res => res.json())
        .then(final_res => {
            let comment_data = document.getElementById("comment-data");
            let div1 = document.createElement("div");
            div1.classList.add("comment","line","pt-2");
            let div2 = document.createElement("div");
            div2.classList.add("comment-img");
            let img = document.createElement("img");
            img.classList.add("circle-img");
            img.src = "http://127.0.0.1:5000/static/" + final_res.img
            
            let div3 = document.createElement("div");
            div3.classList.add("comment-body");
            let div4 = document.createElement("div");
            div4.classList.add("comment-name","text-secondary","font-1");
            let div5 = document.createElement("div");
            div5.classList.add("comment-text","font-1");

            div4.innerText = final_res.name;
            div5.innerText = final_res.comment

            div1.appendChild(div2);
            div2.appendChild(img);

            div1.appendChild(div3);
            div3.appendChild(div4);
            div3.appendChild(div5);
            div1.style.animation = "1s comment_animation ease-in"
            comment_data.insertBefore(div1, comment_data.firstChild);
        })
    };
    
    
    let add_comment = document.getElementById("add_comment");
    add_comment.onclick = function(){
        // adding comment value here so it takes the last thing u wrote in textarea
        // if we didnt put it right here it could be empty string 
        let comment = document.getElementById("comment").value;
        if(comment == ""){
            return;
        }
        post_comment({the_comment:comment});
        document.getElementById("comment").value = "";
    }


    // like functionality

    let likes_number = document.getElementById("likes_number");

    document.getElementById("like_btn").addEventListener("click",()=>{
        fetch("{{url_for('add_like',post_id = post[3])}}",{
            method:"POST",
        })
        .then(res=>res.json())
        .then(data=>{
            if(data.done){
                //make like btn red
                document.getElementById("like_btn").classList.add("bi", "bi-heart-fill", "cursor-p", "fs-4");
                document.getElementById("like_btn").style.animation = "0.5s like_animation";
                document.getElementById("like_btn").style.color = "#ff0055";
                
            }
            else{
                //make like btn black
                
                document.getElementById("like_btn").classList.add("bi", "bi-heart-fill", "cursor-p", "fs-4");
                document.getElementById("like_btn").style.animation = "0.5s like_animation";
                document.getElementById("like_btn").style.color = "#000";
                
            }
            setTimeout(()=>{
                document.getElementById("like_btn").style.removeProperty("animation");
            },500)
            document.getElementById("likes_number").innerText = data.like;
        })

    }) 


</script>
{%endblock%}