{%extends 'base.html'%}
{%block title%}Login{%endblock%}
{%block content%}
<div class="">
    <h2 class="text-center">Login page</h2>

    <div class="col p-2 col-lg-8 col-sm-12 m-auto">
    <form class=" border text-center p-1" method="POST" action="{{url_for('login')}}">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="pwd">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </div>

</div>



{%endblock%}