{%extends 'base.html'%}
{%block title%}Login{%endblock%}
{%block content%}
<div class="container">
    <h2 class="text-center">Login page</h2>
    <form class="p-5 border w-75 text-center container" method="POST" action="{{url_for('login')}}">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="pwd">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

</div>



{%endblock%}