{%extends 'base.html'%}
{%block title%}my profile{%endblock%}
{%block content%}
    <!-- new test -->
        <div class="profile">
            <div class="cover"></div>
            <div class="data border">
                <div class="profile-img">
                    <img class="circle-img" src="{{url_for('static',filename=img)}}" alt="blue profile picture">
                </div>
                <div class="profile-data ">
                    <h1 class="font-1">{{username}}</h1>
                    <h3 style="background:rgb(255, 0, 170);" class="font-1 badge fs-6">{{title}}</h3>
                    <p class="font-1">{{bio}}</p>
                </div>
        
            </div>
        </div>
    <!-- end new test -->
    <div class="mt-5"></div>
    {%if posts%}
        {%for post in posts%}
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="card">
                            <div class="post-header">
                                <div class="profile-post-img">
                                    <img class="circle-img" src="{{url_for('static',filename=img)}}" alt="blue profile picture">
                                </div>
                                <div class="profile-post-data ">
                                    <h1 style="font-size: 15px;" class="font-1 m-0">{{username}}</h1>
                                </div>
                
                            </div>
                            <div class="card-body">
                                <!--TDOD the post id is post[0] -->
                                <a href="{{url_for('idea',post_id=post[0])}}">
                                <h5 class="card-title font-1">{{post[2]}}</h5>
                                </a>
                                <p class="card-text font-1">{{post[3]}}</p>
                            </div>
                            <img src="{{url_for('static',filename=post[4])}}" class="card-img-bottom" alt="post image">
                
                        </div>
                    </div>
                </div>
        {%endfor%}

    {%else%}
    <h2 class="font-1">there is no Ideas yet!</h2>
    {%endif%}

<script>
    let home2 = document.getElementById("home2");
    home2.classList.add("active");
</script>


{%endblock%}