{%extends 'base.html'%}
{%block title%}{{user[1]}} - profile{%endblock%}
{%block content%}

<!-- user profile -->
<div class="profile">
    <div id="cover" class="cover"></div>
    <div class="data border">
        <div class="profile-img">
            <img class="circle-img" src="{{url_for('static',filename=user[6])}}" alt="blue profile picture">
        </div>
        <div class="profile-data ">
            <h1 class="font-1">{{user[1]}}</h1>
            <h3 style="background:rgb(255, 0, 170);" class="font-1 badge fs-6">{{user[4]}}</h3>
            {%if isFollowing == 1%}
            <button id="follow" class="badge btn btn-primary">unfollow</button>
            {%elif isFollowing == 0%}
            <button id="follow" class="badge btn btn-primary">follow</button>
            {%elif isFollowing == 2%}
            <button class="badge btn btn-primary" data-bs-toggle="modal" data-bs-target="#login-modal">follow</button>
            {%endif%}
            <p class="font-1">{{user[5]}}</p>
            
        </div>

    </div>
</div>
<!-- end new test -->
<div class="mt-5"></div>
{%if posts%}
{%for post in posts%}
<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
            <div class="post-header">
                <div class="profile-post-img">
                    <img class="circle-img" src="{{url_for('static',filename=user[6])}}" alt="blue profile picture">
                </div>
                <div class="profile-post-data ">
                    <h1 style="font-size: 15px;" class="font-1 m-0">{{user[1]}}</h1>
                </div>

            </div>
            <div class="card-body">
                <a href="{{url_for('idea',post_id=post[0])}}">
                    <h5 class="card-title font-1">{{post[2]}}</h5>
                </a>
                <p class="card-text font-1">{{post[3]}}</p>
            </div>
            <img src="{{url_for('static',filename=post[4])}}" class="card-img-bottom" alt="post image">
            <div class="like-comment mt-3 ">
                <div class="comments-number m-0 p-0">{{post[6]}}</div>
                <a href="{{url_for('idea',post_id = post[0])}}#comment-data"><i
                        class="bi bi-chat-right-dots cursor-p fs-4"></i></a>

                <div class="mx-2"></div>
                <div class="likes-number m-0 p-0 ">{{post[5]}}</div>
                <i  class="bi bi-heart-fill cursor-p fs-4"></i>
            </div>
        </div>
    </div>
</div>
{%endfor%}

{%else%}
<h2 class="font-1">there is no Ideas yet!</h2>
{%endif%}

<!--login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class=" border text-center p-1" method="POST" action="{{url_for('login')}}">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="pwd">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("cover").style.background = `{{user[7]}}`;
      
    document.getElementById("follow").addEventListener("click", () => {
    fetch("{{url_for('follow',following_id = user[0])}}")
        .then(res => res.json())
        .then(data => {
            if (Object.keys(data).length === 0 && data.constructor === Object) {
                window.location.replace("{{url_for('login')}}");
                return;
            }
            if(data.done){
                
                document.getElementById("follow").innerText = "unfollow";
            }
            else{
                document.getElementById("follow").innerText = "follow";
            }
        })
    })


</script>


{%endblock%}